"*":
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "github"
      "snippets"
      "react"
    ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "limited"
    uriHandlerRegistration: "never"
  editor:
    fontSize: 15
  "exception-reporting":
    userId: "9958e751-68f7-4e5d-87c8-bf60afe6f057"
  "linter-jshint": {}
  "linter-ui-default":
    panelHeight: 300
  minimap:
    plugins:
      pigments: true
      pigmentsDecorationsZIndex: 0
  "tree-view":
    hideVcsIgnoredFiles: true
